body{
    background-color: #EAF6F6;
}
hr{
    border-style: none;
    border-top: 5px dotted grey;
    width: 5%;
    align-items: center;
}
h1,h3{
    color: #56BFBF;
}
img{
    border-radius: 105px;
}